* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: #212121;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.app h1 {
  margin: auto auto 30px;
  font-size: 36px;
  font-weight: 600;
}

.messages {
  width: min(768px, 90%);
  margin: 40px auto 140px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-message {
  align-self: flex-end;
  max-width: 70%;
  background: #2f2f2f;
  padding: 12px 18px;
  border-radius: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.ai-message {
  align-self: flex-start;
  max-width: 80%;
  padding: 12px 18px;
  line-height: 1.6;
  white-space: pre-wrap;
}

.input-box {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  width: min(768px, 90%);

  display: flex;
  align-items: center;

  padding: 8px 10px;

  background: #2f2f2f;
  border: 1px solid #555;
  border-radius: 16px;
}

.input-box input {
  flex: 1;

  border: none;
  outline: none;

  background: transparent;
  color: white;

  font-size: 16px;
  padding: 12px;
}

.input-box input::placeholder {
  color: #9ca3af;
}

.input-box button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 10px;

  background: white;
  color: #111;

  font-size: 20px;
  cursor: pointer;
}